header{
    background-color: black;
    z-index: 500;
}

.logo{
    width: 100%;
    margin-left: 10px;
    font-size: 2.5vh;
}
.controle-conteudo .row>*{
    padding: 0;
}


.links{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100%;
    padding: 0 10px;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease, padding 0.3s ease;
}
.links li{
    margin-top: 13px;
    font-size: 2.5vh;
}
.links.active{
    max-height: 27vh;
    padding: 10px;
    z-index: 9999;

}
.menu-icon{
    display: block;
    margin-right: 10px;
}
.menu-icon:target{
    transform: rotate(180deg);
}

.bio{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation-duration: 3s;
    animation-name: bio;
    animation-fill-mode: forwards;
}
@keyframes bio{
    from {opacity: 0;}
    to   {opacity: 1;}
}

.titulo{
    font-size: 3.3vh;
}

#backfront{
    font-size: 2.3vh;
}

#linguagens{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 2.3vh;
    list-style: inside;
}
.subtitulo{
    font-size: 2.4vh;
    margin-bottom: 10px;
}

.animation{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
#MLT-animation{
    color: white;
    font-size: 8vh;
}
.animation div {
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-name: mlt;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    z-index: 0;
}
.mlt-opacity{
    animation-duration: 3s;
    animation-name: mlt-opacity;
    animation-fill-mode: forwards;
}
  
@keyframes mlt {
    0%   {left: 1%; transform: rotate(0deg);}
    25%  {left: 64%; transform: rotate(180deg);}
    50%  {left: 1%; transform: rotate(360deg);}
    75%  {left: 64%; transform: rotate(180deg);}
    100% {left: 1%; transform: rotate(0deg);}
}
@keyframes mlt-opacity{
    from {opacity: 0;}
    to   {opacity: 1;}
}


.index-explicacao{
    font-size: 2.6vh;
    margin-bottom: 20px;
    white-space: normal;
}

.rodape p{
    color: lightgrey;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.section-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}
.redes{
    margin: 7px;
}

.animation-explicacao{
    display: block;
    width: 100%;
 
}
.animation-explicacao p{  
    width: 100%;
    display: block;    
    animation-name: entrando;
    animation-duration: 3s;
    overflow: hidden;
    animation-fill-mode: forwards;
    min-width: 100%;
    transform-origin: left;
}

@keyframes entrando{
    from {max-width: 0; display: none; opacity: 0;}
    to   {max-width: 100%; display: block; opacity: 1;}
}

.sobre{
    font-size: 2.5vh;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.sobre p{
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    visibility: hidden;
}
.ani-sobre{
    animation-name: mostrar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 1;
}
.ani2{
    animation-delay: 1.8s;
}
.ani3{
    animation-delay: 3.6s;
}
.ani4{
    animation-delay: 5.4s;
}
@keyframes mostrar{
    from {opacity: 0;}
    to   {opacity: 1; visibility: visible;}
}


/* Modal */
.modal-overlay{
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}
.modal{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 75%;
    max-width: 90%;
    text-align: center;
}
.modal-btn-final{
    width: 24%;
    height: 7vw;
    font-family: montserrat;
}
.inserir{
    border: 1px gray solid;
    border-radius: 2px;
    font-family: montserrat;
    font-size: 14px;
    padding: 5px;
}
.assuntoInserido{
    width: 100%;
    height: 6%;
    margin-bottom: 5px;
}
.corpoInserido{
    width: 100%;
    height: 83%;
    display: flex;
    text-align: start;
}
.modal-btns{
    display: flex;
    align-items: baseline;
    justify-content: end;
    margin: 10px;
    margin-right: 0;
}
.fechar-btn{
    margin-right: 15px;
    background-color: white;
    color: black;
    border: 1px gray solid;
    border-radius: 5px;
}
.enviar-btn{
    background-color: black;
    color: white;
    border: 1px gray solid;
    border-radius: 5px;
}

/* Pag Trabalhos */
.trabalhos{
    height: 87vh;
}

.tittle-trabalhos{
    font-size: 3vh;
    text-align: center;
}
.explicacao-pag-trabalhos{
    font-size: 2.2vh;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}
.section-trabalhos{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}
.mostrar-trabalhos p{
    font-size: 2.1vh;
    margin: 5px 25px 15px 25px;
}
.tittle-summary{
    font-size: 2.5vh;
}
.section-imgvscode{
    width: 100%; 
    display: flex;
    justify-content: center;
}
.img-vscode{
    width: 80%;
}
.section-acess{

}
.acessar-job, .acessar-github{
    width: 7vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}