*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

@font-face{
    font-family: montserrat;
    src: url(fonte/Montserrat-Regular.ttf);
}

body{
    font-family: montserrat;
}

header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5vh;
}
.links{
    color: white;
}
.links a:link{
    color: white;
}
.links a:visited{
    color: white;
}
.bio{
    color: black;
}
.rodape{
    background-color: black;
}